<ion-view view-title="{{currentTrip}}">
  <ion-content>
    <img class="full-image" src="img/nomad.jpg">

    <a ng-click="gotoSpots()">
    <div class="card cur-trp-links">
      <div class="item item-text-wrap">
        <h1>Spots</h1>
        <i class="icon ion-location yellow-icon"></i>
      </div>
    </div>
    </a>
    <a ng-click="gotoInfo()">
    <div class="card cur-trp-links">
      <div class="item item-text-wrap">
        <h1>Info</h1>
        <i class="icon ion-ios-information-outline yellow-icon"></i>
      </div>
    </div>
    </a>
    <a ng-click="gotoFavs()">
    <div class="card cur-trp-links">
      <div class="item item-text-wrap">
        <h1>Favorite Spots</h1>
        <i class="icon ion-flag yellow-icon"></i>
      </div>
    </div>
    </a>

  </ion-content>
</ion-view>
