<ion-view view-title="Favorite Spots">
  <ion-content>

    <div class="list card">

      <div class="list" ng-repeat="(k, v) in data" ng-if="currentTrip === v.trip">
          <div class="item item-thumbnail-left" >
            <img src="img/nomad_square.jpg">
            <h2>{{v.name}}</h2>
            <button class="button button-icon icon ion-ios-close-empty" ng-click="removeFav(k)"></button>
            <p>{{v.trip}}</p>
          </div>

      </div>

    </div>

  </ion-content>
</ion-view>
