<ion-modal-view>
  <!-- <ion-header-bar>
    <h1 class="title">Log Out</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content>


    <div class="list card">
       <ion-item class="profile-item">
         <h1 id="title-header-logout">EXIT NOMAD? </h1>
         <label class="item">
           <button class="button button-block logout-btn" ng-click="doLogout()" >Log Out</button>
         </label>
       </ion-item>
       <div class="logout-modal-div">
         <a ng-click="closeModal()">close</a>
       </div>
    </div>

  </ion-content>
</ion-modal-view>
