<ion-view view-title="Name Trip">
  <ion-content id="nameit-bkgrd">

      <div class="card nameit-card">

        <div class="item item-divider loc-adr">
          <!-- <label class="item loc-adr"> -->
            <i class="icon ion-navigate yellow-icon"></i><p>500 Interstate Blvd S, Nashville, TN 37210</p>
          <!-- </label> -->
        </div>

        <form class="list nameit-form" ng-submit="getTrip()">
          <div class="item item-text-wrap create-today-div">
            <div class="item item-input-inset nameit-inset">
              <label class="item-input-wrapper">
                <input type="text" id="nameit-input" placeholder="Create Today" ng-model="trip.name"  ng-minlength="3" required>
              </label>
              <button class="button button-small nameit-btn button-energized" ng-disabled="credentialsForm.$invalid">
                GO!
              </button>
            </div>
          </div>
        </form>

        <div class="item item-divider bottom-links">
          <a ng-click="gotoTrips()">view prior trips</a>
        </div>

      </div>

  </ion-content>
</ion-view>

<!-- <div class="item item-image"> -->
<!-- <img src="img/nomad_square.jpg"> -->

<!-- </div> -->
